<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CommitteeMapper">
	
	<insert id="insert" parameterType="CommitteeMeeting">
		insert into committee_meeting (assemblyman_id, update_tag, meeting_id, meeting_name, meeting_order, meeting_date, attend_status) 
			values(#{assemblyman_id}, #{update_tag}, #{meeting_id}, #{meeting_name}, #{meeting_order}, #{meeting_date}, #{attend_status})
	</insert>
 
	<update id="update" parameterType="CommitteeMeeting">
		update committee_meeting set assemblyman_id=#{assemblyman_id}, update_tag=#{update_tag}, meeting_id=#{meeting_id}, meeting_name=#{meeting_name}, meeting_order=#{meeting_order}, meeting_date=#{meeting_date}, attend_status=#{attend_status} 
			where assemblyman_id=#{assemblyman_id} AND meeting_name=#{meeting_name} AND meeting_order=#{meeting_order}
	</update>

	<select id="selectList" resultMap="committeeMap">
		select * from committee_meeting;
	</select>
	
	<select id="selectCommitteeMeeting" parameterType="Object" resultMap="committeeMap">
		select * from committee_meeting where assemblyman_id=#{assemblyman_id} AND meeting_name=#{meeting_name} AND meeting_order=#{meeting_order}
	</select>
	
	<select id="selectUpdate" resultType="int">
		select MAX(update_tag) from committee_meeting;
	</select>
	
	<resultMap type="CommitteeMeeting" id="committeeMap">
		<result property="assemblyman_id" column="assemblyman_id" />
		<result property="update_tag" column="update_tag" />
		
		<result property="meeting_id" column="meeting_id" />
		<result property="meeting_name" column="meeting_name" />
		<result property="meeting_order" column="meeting_order" />
		<result property="meeting_date" column="meeting_date" />
		<result property="attend_status" column="attend_status" />
		
	</resultMap>
	 
</mapper>