<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.GeneralMapper">
	
	<insert id="insert" parameterType="GeneralMeeting">
		insert into general_meeting (general_id, assemblyman_id, update_tag, meeting_id, meeting_order, meeting_dttm, attend_status) 
			values(#{general_id}, #{assemblyman_id}, #{update_tag}, #{meeting_id}, #{meeting_order}, #{meeting_dttm}, #{attend_status})
	</insert>
 
	<update id="update" parameterType="GeneralMeeting">
		update general_meeting set assemblyman_id=#{assemblyman_id}, update_tag=#{update_tag}, meeting_order=#{meeting_order}, meeting_dttm=#{meeting_dttm}, attend_status=#{attend_status} 
			where general_id=#{general_id}
	</update>

	<select id="selectList" resultMap="generalMap">
		select * from general_meeting;
	</select>
	
	<select id="selectGeneralMeeting" parameterType="String" resultMap="generalMap">
		select * from general_meeting where general_id=#{general_id}
	</select>
	
	<resultMap type="GeneralMeeting" id="generalMap">
		<result property="assemblyman_id" column="assemblyman_id" />
		<result property="update_tag" column="update_tag" />
		
		<result property="meeting_id" column="meeting_id" />
		<result property="meeting_order" column="meeting_order" />
		<result property="meeting_dttm" column="meeting_dttm" />
		<result property="attend_status" column="attend_status" />
	</resultMap>
	 
</mapper>