<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ManMapper">
	
	<insert id="insert" parameterType="Assemblyman">
		insert into man(assemblyman_id, assemblyman_name, image_url, org_image_url, mod_dttm, party_id, party_name, local_constituency) 
			values(#{assemblyman_id}, #{assemblyman_name}, #{image_url}, #{org_image_url}, #{mod_dttm}, #{party_id}, #{party_name}, #{local_constituency})
	</insert>
<!-- 
	<update id="update" parameterType="Assemblyman">
		update man set user_status=#{userStatus} where user_id=#{manId}
	</update>

	<select id="selectList" resultMap="manMap">
		select * from man;
	</select>
	
	<select id="selectMan" parameterType="String" resultMap="manMap">
		select * from user where user_id=#{manId}
	</select>
	
	<resultMap type="Assemblyman" id="manMap">
		<result property="assemblyman_id" column="assemblyman_id" />
		<result property="assemblyman_name" column="assemblyman_name" />
		<result property="image_url" column="image_url" />
	</resultMap>
	 -->
</mapper>