<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.PartyMapper">
	
	<insert id="insert" parameterType="PartyHistory">
		insert into party_history (update_tag, history_id, member_seq, party_name, in_date, out_date, note) 
			values(#{update_tag}, #{history_id}, #{member_seq}, #{party_name}, #{in_date}, #{out_date}, #{note})
	</insert>
 
	<update id="update" parameterType="PartyHistory">
		update party_history set update_tag=#{update_tag}, party_name=#{party_name}, in_date=#{in_date}, out_date=#{out_date}, note=#{note} 
			where history_id=#{history_id}
	</update>

	<select id="selectList" resultMap="partyMap">
		select * from party_history;
	</select>
	
	<select id="selectParty" parameterType="String" resultMap="partyMap">
		select * from party_history where history_id=#{history_id}
	</select>
	
	<resultMap type="PartyHistory" id="partyMap">
		<result property="update_tag" column="update_tag" />
		<result property="history_id" column="history_id" />
		
		<result property="member_seq" column="member_seq" />
		<result property="party_name" column="party_name" />
		<result property="in_date" column="in_date" />
		<result property="out_date" column="out_date" />
		<result property="note" column="note" />
	</resultMap>
	 
</mapper>