<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.VoteMapper">
	
	<insert id="insert" parameterType="Vote">
		insert into vote (assemblyman_id, update_tag, bill_name, bill_no, vote_dttm, bill_target_url, result, assemblyman_vote) 
			values(#{assemblyman_id}, #{update_tag}, #{bill_name}, #{bill_no}, #{vote_dttm}, #{bill_target_url}, #{result}, #{assemblyman_vote})
	</insert>
 
	<update id="update" parameterType="Vote">
		update vote set update_tag=#{update_tag}, bill_name=#{bill_name}, bill_no=#{bill_no}, vote_dttm=#{vote_dttm}, bill_target_url=#{bill_target_url}, result=#{result}, assemblyman_vote=#{assemblyman_vote} 
			where assemblyman_id=#{assemblyman_id}
	</update>

	<select id="selectList" resultMap="voteMap">
		select * from vote;
	</select>
	
	<select id="selectVote" parameterType="String" resultMap="voteMap">
		select * from vote where assemblyman_id=#{assemblyman_id}
	</select>
	
	<resultMap type="Vote" id="voteMap">
		<result property="assemblyman_id" column="assemblyman_id" />
		<result property="update_tag" column="update_tag" />
		
		<result property="bill_name" column="bill_name" />
		<result property="bill_no" column="bill_no" />
		<result property="vote_dttm" column="vote_dttm" />
		<result property="bill_target_url" column="bill_target_url" />
		<result property="result" column="result" />
		<result property="assemblyman_vote" column="assemblyman_vote" />
	</resultMap>
	 
</mapper>